<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<meta charset="utf-8"/>
	<title>Begin your adventure through words</title>
	<link rel="stylesheet"  href="main.css">
</head>
<body>
	<div class="menu">
		<h3>Hello Books<h3>
		<ul>
			<li><a href="home.html">library</a></li>
			<li><a href="profile.html">My Books</a></li>
			<li><a href="community.html">Community</a></li>
			<li><a href="blog.html">Blog</a></li>
			<li><a href="admin.html">Admin</a></li>
		</ul>
	</div>
	<div class="admin-items">
		<p>Add Books</p>
		<form action="../server/models/books" method="POST">
  <input type="text" placeholder="name" name="name">
  <input type="text" placeholder="quote" name="quote">
  <button type="submit">Submit</button>
</form>
		<p>Book Requests</p>
		<p>Book Returns</p>
	</div>



</body>
</html>