<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Begin your adventure through words</title>
	<link rel="stylesheet"  href="main.css">
</head>
<body>
	<div class="menu">
		<h3>Hello Books<h3>
			<a href="index.html"><p>join</p></a>
		<ul>
			<li><a href="index.html">library</a></li>
			<li><a href="index.html">My Books</a></li>
			<li><a href="index.html">Community</a></li>
			<li><a href="index.html">Blog</a></li>
			<li><a href="index.html">Admin</a></li>
		</ul>
	</div>
	<div class=library-classes>
		m,kjhlk
	</div>
	<div class=library-lists>
		m,kjhlk
	</div>

</body>
</html>