<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<meta charset="utf-8"/>
	<title>Begin your adventure through words</title>
	<link rel="stylesheet"  href="main.css">
</head>
<body>
	<div class=login-page>
	<div class="menu">
		<h3>Hello Books<h3>
			<a href="index.html"><p>join</p></a>
		<ul>
			<li><a href="home.html">library</a></li>
			<li><a href="profile.html">My Profile</a></li>
			<li><a href="community.html">Community</a></li>
			<li><a href="blog.html">Blog</a></li>
			<li><a href="admin.html">Admin</a></li>
		</ul>
	</div>
	<div class=library-classes>
		<form action="home.html" method="POST"> 
			<input type="text" name="book name" placeholder="Search">
		</form>
		<p>Popular Books</p>
		<p>Favorited Books</p>
	</div>
	<div class=library-lists>
      <div class=book-card>
		<div class=book-photo>
		  <img src="https://images-na.ssl-images-amazon.com/images/I/41%2BDYvEuRRL._SX300_BO1,204,203,200_.jpg"/>
		</div>
		<div class=book-details>
		  <ul>
			<li><span class="title"></span> LOOKING FOR ALASKA | </li>
			<li><span class="author"></span>JOHN GREEN | </li>
		    <li><span class="genre"></span>ROMANCE | </li> 
		  </ul>
		</div>
		<div class="book-actions">
		  <div class="upvote">
			<p class="num-upvotes">30</p>
			<p>Upvote</p>
		  </div>
		  <div class="downvote">
			<p class="num-downvotes">5</p>
			<p>Downvote</p>
		  </div>
		  <div class="favorite">
			<p class="num-favorites">5</p>
			<p>Favorites</p>
		  </div>
		</div>
		<div class="reviews-requests">
			<div class="reviews">
				<p>reviews</p>
			</div>
			<div class="requests">
				<p>requests</p>
			</div>
		</div>
	  </div>
	  <div class=book-card>
		<div class=book-photo>
		  <img src="https://images-na.ssl-images-amazon.com/images/I/41%2BDYvEuRRL._SX300_BO1,204,203,200_.jpg"/>
		</div>
		<div class=book-details>
		  <ul>
			<li><span class="title"></span> LOOKING FOR ALASKA | </li>
			<li><span class="author"></span>JOHN GREEN | </li>
		    <li><span class="genre"></span>ROMANCE | </li> 
		  </ul>
		</div>
		<div class="book-actions">
		  <div class="upvote">
			<p class="num-upvotes">30</p>
			<p>Upvote</p>
		  </div>
		  <div class="downvote">
			<p class="num-downvotes">5</p>
			<p>Downvote</p>
		  </div>
		  <div class="favorite">
			<p class="num-favorites">5</p>
			<p>Favorites</p>
		  </div>
		</div>
		<div class="reviews-requests">
			<div class="reviews">
				<p>reviews</p>
			</div>
			<div class="requests">
				<p>requests</p>
			</div>
		</div>
	  </div>
	  <div class=book-card>
		<div class=book-photo>
		  <img src="https://images-na.ssl-images-amazon.com/images/I/41%2BDYvEuRRL._SX300_BO1,204,203,200_.jpg"/>
		</div>
		<div class=book-details>
		  <ul>
			<li><span class="title"></span> LOOKING FOR ALASKA | </li>
			<li><span class="author"></span>JOHN GREEN | </li>
		    <li><span class="genre"></span>ROMANCE | </li> 
		  </ul>
		</div>
		<div class="book-actions">
		  <div class="upvote">
			<p class="num-upvotes">30</p>
			<p>Upvote</p>
		  </div>
		  <div class="downvote">
			<p class="num-downvotes">5</p>
			<p>Downvote</p>
		  </div>
		  <div class="favorite">
			<p class="num-favorites">5</p>
			<p>Favorites</p>
		  </div>
		</div>
		<div class="reviews-requests">
			<div class="reviews">
				<p>reviews</p>
			</div>
			<div class="requests">
				<p>requests</p>
			</div>
		</div>
	  </div>
	  <div class=book-card>
		<div class=book-photo>
		  <img src="https://images-na.ssl-images-amazon.com/images/I/41%2BDYvEuRRL._SX300_BO1,204,203,200_.jpg"/>
		</div>
		<div class=book-details>
		  <ul>
			<li><span class="title"></span> LOOKING FOR ALASKA | </li>
			<li><span class="author"></span>JOHN GREEN | </li>
		    <li><span class="genre"></span>ROMANCE | </li> 
		  </ul>
		</div>
		<div class="book-actions">
		  <div class="upvote">
			<p class="num-upvotes">30</p>
			<p>Upvote</p>
		  </div>
		  <div class="downvote">
			<p class="num-downvotes">5</p>
			<p>Downvote</p>
		  </div>
		  <div class="favorite">
			<p class="num-favorites">5</p>
			<p>Favorites</p>
		  </div>
		</div>
		<div class="reviews-requests">
			<div class="reviews">
				<p>reviews</p>
			</div>
			<div class="requests">
				<p>requests</p>
			</div>
		</div>
	  </div>
	  <div class=book-card>
		<div class=book-photo>
		  <img src="https://images-na.ssl-images-amazon.com/images/I/41%2BDYvEuRRL._SX300_BO1,204,203,200_.jpg"/>
		</div>
		<div class=book-details>
		  <ul>
			<li><span class="title"></span> LOOKING FOR ALASKA | </li>
			<li><span class="author"></span>JOHN GREEN | </li>
		    <li><span class="genre"></span>ROMANCE | </li> 
		  </ul>
		</div>
		<div class="book-actions">
		  <div class="upvote">
			<p class="num-upvotes">30</p>
			<p>Upvote</p>
		  </div>
		  <div class="downvote">
			<p class="num-downvotes">5</p>
			<p>Downvote</p>
		  </div>
		  <div class="favorite">
			<p class="num-favorites">5</p>
			<p>Favorites</p>
		  </div>
		</div>
		<div class="reviews-requests">
			<div class="reviews">
				<p>reviews</p>
			</div>
			<div class="requests">
				<p>requests</p>
			</div>
		</div>
	  </div>
	  <div class=book-card>
		<div class=book-photo>
		  <img src="https://images-na.ssl-images-amazon.com/images/I/41%2BDYvEuRRL._SX300_BO1,204,203,200_.jpg"/>
		</div>
		<div class=book-details>
		  <ul>
			<li><span class="title"></span> LOOKING FOR ALASKA | </li>
			<li><span class="author"></span>JOHN GREEN | </li>
		    <li><span class="genre"></span>ROMANCE | </li> 
		  </ul>
		</div>
		<div class="book-actions">
		  <div class="upvote">
			<p class="num-upvotes">30</p>
			<p>Upvote</p>
		  </div>
		  <div class="downvote">
			<p class="num-downvotes">5</p>
			<p>Downvote</p>
		  </div>
		  <div class="favorite">
			<p class="num-favorites">5</p>
			<p>Favorites</p>
		  </div>
		</div>
		<div class="reviews-requests">
			<div class="reviews">
				<p>reviews</p>
			</div>
			<div class="requests">
				<p>requests</p>
			</div>
		</div>
	  </div>
	</div>
   </div>
</body>
</html>