<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta charset="utf-8">
	<title>Go on an adventure through words</title>
	<link rel="stylesheet"  href="main.css">
</head>
<body>
  <div class="grid">
    <div class="row">
		<div class="login-sidebar"></div>
		<div class="login-sidebox">
			<h3>Hello Books</h3>
			<h2>Login to start</h2>
			<form action="home.html" method="POST"> 
				<input type="text" name="email" placeholder="Enter Email">
				<input type="password" name="name" placeholder="Enter password">
				<label>Click if already registered
					<input type="radio" name="name">
				</label>
				<button type="submit">Login / Sign up</button>
			</form>
			<a href="home.html">Start your adventure through words</a>
		</div>
	</div>
  </div>

</body>
</html>