<!DOCTYPE html>
<html>
<head>
	<title>Begin your adventure through words</title>
	<link rel="stylesheet"  href="main.css">
</head>
<body>
	<div class="menu">
		<h3>Hello Books<h3>
		<ul>
			<li><a href="home.html">library</a></li>
			<li><a href="profile.html">My Profile</a></li>
			<li><a href="community.html">Community</a></li>
			<li><a href="blog.html">Blog</a></li>
			<li><a href="admin.html">Admin</a></li>
		</ul>
	</div>
    <div class="profile-photo">
		<img src="image/profile.jpg"/>
	</div>
	<div class="profile-details">
		<div class="profile-name">
			<p> Name: <br> Temitayo </p>
		</div>
		<div class="profile-location">
			<p> Location: <br> Lagos </p>
		</div>
		<div class="profile">
			<p> Book To Die For: <br> Quiet </p>
		</div>
	</div>
</body>
</html>